<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The most awesome thingy and stuff</title>

    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<div class="nameinput">
    <div class="nameinput__wrapper">
        <input type="text" id="name" class="nameinput__name" placeholder="Anonymous">
        <div id="submit" class="nameinput__submit">Let's Go!</div>
    </div>
</div>

<script src="/js/main.bundle.js"></script>
</body>
</html>