<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The most awesome NerdDating and stuff</title>

    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<div class="nameinput">
    <div class="nameinput__wrapper">
        <h1 class="title">NerdDating</h1>
        <p>
            As nerds like us are shy, we need this special kind of dating app. Enjoy!
        </p>
        <form action="" id="nameform">
            <input type="text" id="name" class="nameinput__name" placeholder="Anonymous">
            <button id="submit" class="nameinput__submit">Let's Go!</button>
        </form>
    </div>
</div>

<script src="/js/main.bundle.js"></script>
</body>
</html>